body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: lightcyan;
}

#binary-clock,
#decimal-clock {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

#binary-clock td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid slategray;
    background-color: slategray;
}

#binary-clock th {
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid slategray;
    background-color: lightgray;
}

#binary-clock td:last-child {
    background-color: lightgray;
}

nav {
    margin-top: 0px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#log {
    margin-top: 15px;
    font-weight: bold;
    min-height: 24px;
    transition: font-size 0.3s;
}

#log.new-message {
    font-size: 1.2em;
}